<link rel="stylesheet" href="/assets/css/color.css">
<link rel="stylesheet" href="/assets/css/index.css">
<div class="whole">
    <form action='/prep' method='get'>
        <label for='input_time'>目的地までの所要時間</label>
        <input type='time' id="input_time" name="required_time" class="transparent-button">
        <input type='submit'  value="準備開始" class="transparent-button">
    </form>
    <form action='/task' method='get'>
        <input type='submit'  value="タスクを編集" class="transparent-button">
    </form>
</div>