<link rel="stylesheet" href="/assets/css/color.css">
<div>
    <p><img src="/assets/images/logo.png"></p>
    <form action="/signin" method="post" >
        <input name="username" type="text" placeholder="username" class="transparent-button semitransparent-button">
        <input name="password" type="password" placeholder="password" class="transparent-button semitransparent-button">
        <input type="submit" value="SIGN IN"class="transparent-button">
    </form>
    <a href="/signup">新規登録はこちら</a>
</div>