<link rel="stylesheet" href="/assets/css/color.css">
<div class="whole">
    <p><img src="/assets/images/logo_transparent.png" class="logo"></p>
    <form action="/signup" method="post" >
        <input name="username" type="text" placeholder="username" class="semitransparent-button" required>
        <input name="display_name" type="text" placeholder="アカウント名" class="semitransparent-button" required>
        <input name="password" type="password" placeholder="password" class="semitransparent-button" required>
        <input name="password_confirmation" type="password" placeholder="password again" class="semitransparent-button" required>
        <input type="submit" value="SIGN UP" class="transparent-button">
    </form>
    <a href="/signin">登録済みの方</a>
</div>