<link rel="stylesheet" href="/assets/css/color.css">
<div class="whole">
    <p><img src="/assets/images/logo_transparent.png" class="logo"></p>
    <form action="/signin" method="post" >
        <input name="username" type="text" placeholder="username" class="semitransparent-button" required>
        <input name="password" type="password" placeholder="password" class="semitransparent-button" required>
        <input type="submit" value="SIGN IN"class="transparent-button">
    </form>
    <a href="/signup">新規登録はこちら</a>
</div>