:root{
    --main-1: #3494E6;
    --main-2: #EC6EAD;
    --main-3: #D04475;
    --main-white: #ffffff;
    --main-gray: #98989c;
    --main-black: #333333;
}


body{
    background: linear-gradient(45deg, var(--main-1), var(--main-2));
    width: 100vw;
}

.whole{
    width: 100%;
    height: 80vh;
    margin-top: 10vh;
    text-align: center;
    padding: 5vw;
}

label{
    display: block;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}
input{
    font-family: 'Noto Sans JP', sans-serif;
}

.transparent-button{
    display: block;
    margin: 3vh auto;
    padding: 0.5vh 0;
    width: 80vw;
    border-radius:5px;
    border: none;
    background: transparent;
    color: var(--main-white);
}

.semitransparent-button{
    display: block;
    margin: 3vh auto;
    padding: 0.5vh 0;
    width: 80vw;
    border-radius:5px;
    border: none;
    background: rgba(226,230,233,0.3);
    color: rgba(226,230,233,0.6);
}

input.semitransparent-button{
    padding-left: 2vw;
}


::placeholder{
    color: rgba(226,230,233,0.5);
}


input:focus {
    outline: 0 transparent solid;
}



#time{
    width: 30vw;
    margin-right: 50vw;
}

a{
    color: var(--main-white);
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

.logo{
    width: inherit;
    height: 20vh;
}
