:root{
    --main-1: #3494E6;
    --main-2: #EC6EAD;
    --main-3: #D04475;
    --main-white: #ffffff;
    --main-gray: #98989c;
    --main-black: #333333;
}
body{
  overflow-y: scroll;
  overflow-x: hidden !important;
}

input{
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--main-black);
}
h1{
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--main-black);
}
h3{
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--main-black);
}
h4{
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--main-black);
}
a{
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--main-black);
}
p{
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--main-black);
}

li{
    list-style: none;
}


li a{
    color: var(--main-white);
    text-decoration: none;
    display: block;
    
}
nav {
  padding: 0;
  position: absolute;
  bottom: 1vh;
  z-index: 1;
}

.nav-link {
  color: var(--main-black);
  font-family: 'Noto Sans JP', sans-serif;
}
span {
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 10px;
}

.navbar-toggler {
  outline: none;
  width: 100vw;
}

button:focus {
  outline: 0 transparent solid;
  background-color: rgba(243, 243, 243, 0.8);
}

#navbarNav{
  background: rgba(243, 243, 243, 0.8);
}

.nav-item{
  padding: 5vw;
  width: 100vw;
}


